input {
  beats {
        port => 5000
   }
}
## Add your filters / logstash plugins configuration here
filter {
     grok {
        match => { "message" => "%{TIMESTAMP_ISO8601:timestamp}\|\|\|%{NOTSPACE:app}\|\|\|\|%{LOGLEVEL:loglevel}\|\|\|\|\|\|\|%{GREEDYDATA:unstructured_data}%{SPACE}(?<ERRORMESSAGE>(.|\r|\n)*)" }
     }
}

output {
        elasticsearch { hosts => ["elasticsearch:9200"]}

}